APP_NAME=THO NHANH API
DEBUG=true
CORS_ORIGINS=["http://localhost:3000","http://localhost:5173"]
DATABASE_URL=postgresql+psycopg://username:password@localhost:5432/db_name
JWT_SECRET=your_jwt_secret_key
JWT_ALGORITHM=your_jwt_algorithm
ACCESS_TOKEN_EXPIRE_MINUTES=your_access_token_expiration_time_in_minutes

POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_database_name